.theme-toggle {
  position: relative;
  border: 1px solid var(--text-color);
  border-radius: 18px;
  width: 50px;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;


  .toggle-circle {
    position: relative;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    border-radius: 50%;

    &.inactive {
      animation: switchInactive 0.5s ease-in-out;
    }

    &.active {
      left: calc(100% - 20px);
      animation: switchActive 0.5s ease-in-out;
    }

    @keyframes switchActive {
      0% {
        left: 0;
      }
      100% {
        left: calc(100% - 20px);;
      }
    }

    @keyframes switchInactive {
      0% {
        left: calc(100% - 20px);
      }
      100% {
        left: 0;;
      }
    }
  }
}
